REPOSITORY_TYPE=sqlalchemy

POSTGRES_DB=possani_os
POSTGRES_USER=possani
POSTGRES_PASSWORD=possani_dev

DATABASE_URL=postgresql+psycopg://possani:possani_dev@postgres:5432/possani_os
POSTGRES_TEST_DATABASE_URL=postgresql+psycopg://possani:possani_dev@postgres:5432/possani_os_test
TEST_DATABASE_URL=sqlite+pysqlite:///:memory:

APP_ENV=development
